html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --main: #AB2680;

  --white: #FFFFFF;
  --gray-100: #E5E5E5;
  --gray-400: #999999;
  --gray-800: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}