.homeWrapper {
    margin-bottom: 70px;

    @media screen and (max-width: 768px) {
        background: var(--gray-100);
        margin-bottom: 0px;

        &::after {
            content: "";
            height: 70px;
            width: 100%;
            background: var(--gray-100);
            display: block;
        }
    }
}

.bgHomeDesk {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.logOutButton {
    background-image: url('/images/logOutIcon.png');
    background-size: 30px;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    z-index: 10;
    display: block;
    background-color: rgba(147, 147, 147, 0.4);

    div {
        width: 700px;
        height: 500px;
        padding: 2rem;
        position: absolute;
        background-clip: padding-box;
        margin: auto;
        border-radius: 4px;
        margin: 0;
        top: 40%;
        left: 50%;
        margin-right: -50%;
    }
}

.nextPageWrapper {
    display: flex;
    align-items: center;
    align-content: center;

    .nextPrevContainer {
        display: flex;
        position: absolute;
        right: 130px;
        font-size: 12px;
        align-items: center;

        @media screen and (max-width: 768px) {
            position: inherit;
            width: 170px;
            margin: 0 auto;
        }

        span {
            margin-right: 15px;

            @media screen and (max-width: 768px) {
                order: 2;
            }
        }

        button:first-of-type {
            margin-right: 10px;
        }

        .prevChevron {
            background-image: url('/images/prevChevron.png');
            background-size: 30px;
            height: 30px;
            width: 30px;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            background-color: transparent;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                order: 1;
            }
        }

        .nextChevron {
            background-image: url('/images/nextChevron.png');
            background-size: 30px;
            height: 30px;
            width: 30px;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            background-color: transparent;
            cursor: pointer;

            @media screen and (max-width: 768px) {
                order: 3;
            }
        }
    }
}

.headerWrapper {
    display: flex;
    padding: 30px 100px 0px;
    align-items: center;
    align-content: center;

    @media screen and (max-width: 768px) {
        display: flex;
        padding: 44px 20px 10px 20px;
    }

    .welcomeUser {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center;

        button {
            cursor: pointer;
        }

        span {
            font-size: 12px;
            margin-right: 15px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    .homeLogo {
        align-items: center;
        align-content: center;
        display: flex;

        span {
            margin-left: 15px;
            font-weight: 300;
            font-size: 28px;
        }
    }
}





.booksCarouselContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."; 
    margin: 40px 90px;

    @media screen and (max-width: 768px) {
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 30px 22px; 
        grid-template-areas: 
            "."
            "."
            "."; 
    }

   
}
