.loginErrorMsg {
    width: 239px;
    height: 48px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    transition: .3s ease;
    position: absolute;
    cursor: pointer;

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 12px solid rgba(255, 255, 255, 0.4);
        z-index: 1;
        margin-left: 10px;
        margin-top: -60px;
        position: absolute;
        left: 10px;
    }

    p {
        color: var(--white);
        font-family: Heebo;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        width: 300px;
    }
}

.loadingLogin {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    z-index: 10;
    display: block;
    background-color: rgba(147, 147, 147, 0.4);

    div {
        width: 100px !important;
        height: 100px !important;
        padding: 2rem;
        position: absolute;
        background-clip: padding-box;
        margin: auto;
        border-radius: 4px;
        margin: 0;
        top: 40%;
        left: 50%;
        margin-right: -50%;
    }
}

.contentsContainer {
    display: contents;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    height: 100%;
    width: 100%;
    position: absolute;

    .titleInputs {
        margin-bottom: 1.6rem;
    }

    .submitButton {
        background: var(--gray-100);
        border-radius: 44px;
        text-transform: initial;
        padding: 6px 16px;
        width: 98px;
        height: 34px;

        font-family: Heebo;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: var(--main);
    }

    .heroContent {
        @media screen and (min-width: 768px){
            padding: 0 0 0 100px;
        }
    }

    .titleInputs {
        align-items: center;
        justify-content: left;
        align-content: center;
        display: flex;
        gap: 17px;

        span {
            color: var(--white);
            font-weight: 300;
            font-size: 28px;
        }
    }

    .inputStyleBasic {
        width: 368px;
        background: rgba(0, 0, 0, 0.32);
        backdrop-filter: blur(2px);
        border-radius: 4px;
        font-family: Heebo;
        font-style: normal;

        @media screen and (max-width: 768px) {
            width: 288px;
        }

        label {
            color: var(--white);
            opacity: 50%;
            font-family: Heebo;
            font-style: normal;
        }

        .MuiFilledInput-underline {
            &::after {
                content: "";
                display: none;
            }

            &::before {
                content: "";
                display: none;
            }
        }
    }
}

.bgDeskLogin {
    @media screen and (max-width: 768px) {
        display: none;
    }
    left: 0;
    top: -1px;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.bgMobileLogin {
    @media screen and (min-width: 768px) {
        display: none;
    }
    left: 0;
    top: -1px;
    z-index: -1;
    width: 100%;
}
