.bookSummary {
    padding: 20px;
    max-width: 222px;
    height: 150px;
    background: var(--white);
    box-shadow: 0px 6px 24px rgba(84, 16, 95, 0.13);
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        padding: 10px;
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 50%;
        margin-bottom: 50px;
        width: 290px;
        height: 180px;
    }

    .bookInfo {
        display: flex;
        
        .image {
            @media screen and (max-width: 768px) {
                padding: 10px;
            }
            img {
                width: 70px;
                height: 110px;
                filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.15));

                @media screen and (max-width: 768px) {
                    width: 101px;
                    height: 142px;
                }
            }
        }

        .otherInfo {
            padding: 0 0 0 15px;

            @media screen and (max-width: 768px) {
                padding: 9px 10px;
            }

            span:first-of-type {
                font-size: 14px;
                font-weight: 500;
                display: block;
            }

            span:last-of-type {
                font-size: 12px;
                color: var(--main);
            }

            &__footerItems {
                margin-top: 12px;
            }

            &__footer {
                color: var(--gray-400);
                font-size: 12px;
            }
        }
    }  
}